// Webpack alias "variables" points to this file.
// So you can import it in your app's *.vue files
// inside the <style> tag like below.
//
// NOTICE that you need lang="stylus"
//
// <style lang="stylus">
// @import '~variables'
// ........
// </style>

// Add here your Quasar Stylus variables override
$primary          = #ff6600
$secondary        = #ffca2b

// Some custom variables
$text-color       = #34495e
$text-light-color = #828282

$container-width = 800px

// Then we load Quasar Stylus variables.
// Any variables defined in "app.variables.styl"
// will override Quasar's ones.
//
// NOTICE that we only import Core Quasar Variables
// like colors, media breakpoints, and so.
// No component variable will be included.
@import '~quasar-core-variables'
